{{> header}}
<section class="home-NLab">
  <div class="container">
    {{#if posts}}
    <div class="row">
      <div class="col-12">
        <div class="title-section">
          <h2>Últimas publicaciones</h2>
        </div>
      </div>
    </div>
    <div class="row">
      {{#each posts}}
        <div class="col-4">
          <div class="card card-nlab">
            <div class="card-body">
              <div class="card-image">
                <a href="/post/{{this.id}}">
                  <img src="{{this.featured_image}}" class="img-responsive">
                </a>
              </div>
              <div class="nlab-body">
                <h3 class="card-title">{{this.title_post}}</h3>
                <p class="card-text">{{this.content_post}}</p>
              </div>
              <a href="/post/{{this.id}}" class="btn btn-primary btn-nlab">Leer más</a>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
    {{/if}}
  </div>
</section>